<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to BootStrap</title>
		<meta charset="utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	</head>
	<body ng-app="myApp" ng-controller="myappcontroller as vm">
		<div class="container">
			<header>
				<nav class="navbar navbar-inverse">
				  <div class="container-fluid">
					    <div class="navbar-header">
					      <a class="navbar-brand" href="index.html">WebVision</a>
					    </div>
					    <div>
					      <ul class="nav navbar-nav">
					        <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li>
					        <li><a href="etudiants.html">Liste Des étudiants</a></li>
					        <li><a href="listcours.html">Liste Des Cours</a></li> 
					        <li><a href="affectation.html">Affectation Cours</a></li> 
					      </ul>
					    </div>
				  </div>
				</nav>
			</header>
		
			<div class="jumbotron">
			  		<div class="row">
			  			<div class="col-lg-4 col-md-6">
			  				<img src="imags/cinqueterre.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236"> 
			  			</div>
			  			<div class="col-lg-8 col-md-6">
			  				<h1>My First Bootstrap Page</h1>
				   			<p>Resize this responsive page to see the effect!</p> 
			  			</div>					   		
			  		</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<form class="form-horizontal" role="form">
			
						<div class="form-group">
								    <label class="control-label col-sm-4" for="cour">Cours:</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" id="cour" placeholder="Entrer Le Nom Du cours" ng-model="vm.cour.cour">
								    </div>
						</div>
						<div class="form-group">
								    <label class="control-label col-sm-4" for="code">Code:</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" id="code" placeholder="Entrer Le Code Du Cours" ng-model="vm.cour.code">
								    </div>
						</div>
						<div class="form-group">
								    <label class="control-label col-sm-4" for="credit">crédits:</label>
								    <div class="col-sm-8">
								      <input type="number" class="form-control" id="credit" placeholder="Entrer votre Téléphone" ng-model="vm.cour.credit">
								    </div>
						</div>
						<div class="form-group">
							    	<label class="control-label col-sm-4" for="enseignant">Enseignant:</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" id="enseignant" placeholder="Entrer Le Nom De L'Enseignant" ng-model="vm.cour.enseignant">
								    </div>
						</div>

						<div class="form-group"> 
								    <div class="col-sm-offset-4 col-sm-8">
								  	<button type="submit" class="btn btn-default" ng-click="vm.addCour()">Enregitrer</button>
								  	<button type="reset" class="btn btn-default" ng-click = "delete()">Annuler</button>
									</div>
						</div>
					</form>
				</div>
				<div class="col-lg-8 col-md-8">
					<h2>Liste Des Cours</h2>
					<table class="table table-bordered">
						<thead>
						      <tr>
						        <th>Nom Cours</th>
						        <th>Code</th>
						        <th>Crédits</th>
						        <th>Enseignant</th>
						        <th>Action</th>
						    </tr>
						</thead>
						<tbody>
						      <tr class="success" ng-repeat="cr in vm.cours">
						        <td>{{cr.cour}}</td>
						        <td>{{cr.code}}</td>
						        <td>{{cr.credit}}</td>
						        <td>{{cr.enseignant}}</td>
						        <td>
						        	<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
											<span class="caret"></span>
										</button>
											<ul class="dropdown-menu">
											    <li><a href="#">Modifier</a></li>
											    <li><a href="#">Enregistrer</a></li>
											    <li><a href="#">Supprimer</a></li>
											</ul>
									</div>
						        </td>
						      </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
			  
		</div>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="Controller/app.js"></script>
		<script type="text/javascript" src="Controller/app.js"></script>

	</body>
</html>